<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PetSuite">

    <listeners>
<!--        TODO: HERE IN ExtentReportManager class WE WILL LISTEN api.test.UserTests class...-->
        <!--    TODO: IN OTHER WORD the things that happened in UserTests class will be taken in ExtentReportManager -->
        <listener class-name="api.utilities.ExtentReportManager"/>
    </listeners>

    <test thread-count="5" name="PetTests">
        <classes>
            <class name="api.test.UserTests"/>
        </classes>
    </test>
</suite>